<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="defaultExecutorType" value="REUSE"/>
	</settings>
	
	<typeAliases>
		<package name="com.rifu.bean"/>
	</typeAliases>

	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!-- 分页参数合理化，当请求页数小于1时，查询第一页，当请求页数大于总页数，查询最后一页 -->
			<property name="reasonable" value="true"/>
		</plugin>
	</plugins>
</configuration>