<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 这里声明abstract="true" ，说明这个bean可以被继承，这就是spring中bean的继承 -->
	<bean id="abstractUser" class="com.rifu.model.User" abstract="true">
		<property name="className" value="计科一班"></property>
		<property name="age" value="22"></property>
	</bean>

	<!-- 由于beans表是按顺序加载的，在这里添加属性depends-on="dog1" ,就会先加载对应id的对象，这就是Spring中bean之间的依赖关系 -->
	<bean id="user1" parent="abstractUser" depends-on="dog1">
		<property name="id" value="1"></property>
		<property name="name" value="rifu1"></property>
	</bean>

	<bean id="user2" parent="abstractUser">
		<property name="id" value="2"></property>
		<property name="name" value="rifu2"></property>
		<property name="age" value="23"></property>
	</bean>

	<!-- 
	1，singleton Spring ioc 容器中仅有一个 Bean 实例，Bean 以单例的方式存在；
	2，prototype 每次从容器中调用 Bean 时，都返回一个新的实例； 
	-->
	<bean id="dog1" class="com.rifu.model.Dog" scope="singleton">
		<property name="name" value="Jack"></property>
	</bean>


</beans>